/* Title: Assignment 2.2
Author: Professor Krasso
Date: 29 Oct 21
Modified By: Ferdinand "Papo" Detres Jr
Description: CSS for assignment 2.2  */

#payroll-header{
    text-align: center;
}

ul {
    border: 1px dotted red;
  }