/* // Title: Assignment 6 In-N-Out Books
// Author: Professor Krasso
// Date: 26 Nov 21
// Modified By: Ferdinand "Papo" Detres Jr
// Description: This week's project is listing of my fav authors/books
//Code attributions: CSS style came from guidance in the assignment instructions style guide */
/* Online code attributions */
/* https://www.w3schools.com/cssref/pr_border-collapse.asp  */
/* https://www.w3schools.com/css/css_table.asp */


.app-header {

    text-align: center;
    font-size: 28px;
}
.card-content {
    padding: 0;
}

tr{
    color: black;
}

th {
    padding: 12px 0px 12px 6px;
    text-align: left;
    background-color: #4F3674;
    color: white;
    border: 1px solid #ddd;
    font-size: 20px;
}

td {
    border: 1px solid #ddd;
    text-align: left;
    font-size: 20px;
    padding: 12px 0px 6px 6px;
}

#books, #authors {
border-collapse: collapse;
width: 100%;
margin-bottom: 30px;
}

tr:hover {
    background-color: #d6a800;
    color: #4F3674;
    cursor: pointer;
}